<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "nl.sanstream"
        version   = "1.0.0">
		
	<preference name="phonegap-version" value="2.0.0" />
	<preference name="orientation" value="portrait" />
	
    <name>A little red balloon</name>
    <description>A showcase for Storificate</description>
    
    <author href="http://sanstream.nl" email="sanne@sanstream.nl">
        Sanne Peters
    </author>

    <content src="index.html" />

	<preference name="permissions" value="none" />
</widget>